* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
}

a {
  color: silver;
  text-decoration: none;
}

p {
  font-size: 25px;
}

.header {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: darkblue;
  color: silver;
}

.header h1 {
  display: inline-block;
  font-size: 45px;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 25px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

.content {
  display: flex;
  flex: 1;
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.box-content {
  margin-bottom: 20px;
  padding: 20px;
  height: 350px;
  background-color: #080a29;
  color: silver;
}

.box-content img {
  max-height: 250px;
  max-width: 250px;
}

.box-content h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.footer {
  padding: 30px;
  clear: both;
  text-align: center;
  color: silver;
}